<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Ashrat Ali Shaikh</mat-card-title>
        <mat-card-subtitle>Angular Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/shahadat-rahman-gnyA8vd3Otc-unsplash.jpg">
    <mat-card-content>
        <p>
          My Passion to coding and learning new thing every day motivate me to enchance my skills and 
          provide valuable insight for company. 
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button
        matTooltip="Know more about Ashrat"
        aria-label="Button that displays a tooltip when focused or hovered over" color="primary">Know More</button>
    </mat-card-actions>
</mat-card>
