/* styles.css or global.scss */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #ffffff;
}

.dark-theme {
  --primary-color: #17a2b8;
  --secondary-color: #343a40;
  --background-color: #222;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}