 <!-- <mat-sidenav-container style="height: 100vh;">
        <mat-sidenav mode="side" align="start" opened="false" #sidenav style="width: 300px;">
            <ul>
              <li>home</li>
              <li>Contact</li>
              <li>about us</li>
            </ul>
        </mat-sidenav>
         <mat-sidenav-content>
          <mat-toolbar color="primary">
              <button mat-icon-button (click)="sidenav.toggle()"></button>
              <span>Myapp</span>
          </mat-toolbar>
          <router-outlet></router-outlet>
         </mat-sidenav-content>
        
    </mat-sidenav-container> -->


<!-- <div style="width: 400px; margin: auto; display: flex;">
   
    <form action="" style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center;" [formGroup] = "form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input type="fname" matInput required
                   placeholder="Ex. pat@example.com" formControlName="firstName">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput required
                   placeholder="" formControlName="email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="password" matInput required
                   placeholder="" formControlName="password">
          </mat-form-field>
          <button type ="submit" [disabled] = "form.invalid">submit</button>

    </form>

</div> -->
<app-user-data-table></app-user-data-table>
<app-mycard></app-mycard>
<button mat-raised-button (click)="applyTheme('light')">
    Switch 
</button>