<div >
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>email</th>
            <th>Edit Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customer">
            <td>{{cust.name}}</td>
            <td>{{cust.age}}</td>
            <td>{{cust.email}}</td>
            <td><button (click)="editCustomer(cust)">Edit</button></td>
        </tr>
    </tbody>
</table>
<app-customer-form-child *ngIf="selectedCustomer" [customer]="selectedCustomer" (update)="handleedit($event)"></app-customer-form-child>
</div>