/* You can add global styles to this file, and also import other style files */
/* Global Toast Style */

.ngx-toastr {
    font-size: 16px;
    font-weight: bold;
}

.toast-success {
    background-color: #28a745 !important;
}

.toast-error {
    background-color: #dc3545 !important;
}

.toast-warning {
    background-color: #ffc107 !important;
}

.toast-info {
    background-color: #17a2b8 !important;
}
body.light {
    background-color: #ffffff;
    color: #333333;
}

body.dark {
    background-color: #333333;
    color: #ffffff;
}

.theme-toggle {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}